<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block 'titulo' %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="{% static 'js/controlador.js' %}"></script>
</head>

<body>
    <nav class="topnav">
        <a href="{% url 'listarClientes' %}">Clientes</a>
        <a href="{% url 'listarProductos' %}">Productos</a>
        <a href="{% url 'listarPedidos' %}">Pedidos</a>
    </nav>
    <div id="contenedorPrincipal">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    {% block 'contenido' %}{% endblock %}
    </div>
    <footer>
        <p>Autor: Diego Carnero Leira</p>
        <p>Telefono: 679 34 28 73</p>
        <p>Email: diegocarneroleira@gmail.com</p>
    </footer>
    
</body>

</html>