{% extends 'base.html' %}

{% block 'titulo' %}
Crear Pedido
{% endblock %}

{% block 'contenido' %}
<div class="contenedorPedido">
    <h2>Crear Pedido</h2>
    <div id="contenedorPrincipalProductos">
        {% for pr in productos %}
        <div class="productoLista">
            <div class="imagenProductoLista">
                {% if pr.product.imageURL != '' %}
                <img src="{{pr.product.imageURL}}" class="imagenProducto">
                {% else %}
                {% load static %}
                <img src="{% static 'media/noimage.jpg' %}" class="imagenProducto">
                {% endif %}
            </div>
            <div class="informacionProductoLista">
                <div class="nombreProductoLista">
                    <label>{{pr.product.name}}</label>
                </div>
                <div class="detallesProductoLista">
                    {% if pr.size == 'BG' %}
                    <label class="tamanhoProductoLista Grande">Grande</label>
                    {% elif pr.size == 'AV' %}
                    <label class="tamanhoProductoLista Estandar">Estandar</label>
                    {% elif pr.size == 'SM' %}
                    <label class="tamanhoProductoLista Pequenho">Pequeño</label>
                    {% endif %}</label>
                    <label class="precioProductoLista">€</label><label class="precioProductoLista">{{pr.price}}</label>
                </div>
            </div>
            <div class="modificarCantidadProducto">
                <button type="button" value="{{pr.id}}" onclick="quitarProducto(event);"
                    class="noPuedoQuitar">-</button>
                <button type="button" value="{{pr.id}}" onclick="anhadirProducto(event);"
                    class="anhadirProducto">+</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="contenedorDatosClientePedido">
        <form action="{% url 'crearPedido' %}" method="post" id="formularioCrearPedido">
            {% csrf_token %}
            <h2>Datos Pedido</h2>
            <div class="contenedorDatosPedido">
                <div class="contenedorLabelsPedido">
                    <label>Cliente</label><span class="campoRequerido"> *</span>
                    <br>
                    <label>Direccion Envio</label><span class="campoRequerido"> *</span>
                    <br>
                    <label>Direccion Facturacion</label><span class="campoRequerido"> *</span>
                </div>
                <div class="contenedorInputsPedido">
                    <select name="selectClientes" id="selectClientes" onchange="cargarDirecciones(event);" required>
                        <option value="-1">Seleccione</option>
                        {% for c in clientes %}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                    <select name="selectEnvio" id="selectEnvio" required>
                    </select>
                    <select name="selectFacturacion" id="selectFacturacion" required>
                    </select>
                </div>
            </div>
            <div id="productosDelPedidoNuevo">
                <h3>Productos</h3>
                <div id="listaProductosPedido">

                </div>
                <div id="totalListaPedidos">
                    <label class="totalLabel">TOTAL</label>
                    <label class="totalLabel" id="precioTotalDelPedido">0</label>
                    <label class="totalLabel">€</label>
                </div>
            </div>
            <div class="centrarBoton">
                <a href="{% url 'listarPedidos' %}" class="botonEnlace Rojo">Cancelar</a>
                <input type="submit" value="Hacer Pedido" class="botonEnlace">
            </div>
        </form>
    </div>
</div>
<script>
    /*Comprueba si el pedido tiene articulos,
      si tiene se crea el pedido,
      en caso contrario se indica el problema al usuario*/
    $("#formularioCrearPedido").submit(function (e){
        e.preventDefault();
        if(document.getElementById("listaProductosPedido").children.length!=0){
            e.target.submit();
        }else{
            alert("No hay ningun producto en el pedido");
        }
    });
    /*Al modificar el select de cliente se llama a la funcion encargada 
      de devolver todas las direcciones disponibles del cliente y 
      se cargan en los select de facturacion y envio*/
    function cargarDirecciones(e){
        $("#selectEnvio").empty();
        $("#selectFacturacion").empty();
        $("#selectClientes option[value='-1']").remove();
        var select1=document.getElementById("selectEnvio");
        var select2=document.getElementById("selectFacturacion");
        $.ajax({
                url: "{% url 'direccionesCliente' %}",
                type: 'GET',
                data: { 'idCliente': e.target.value },
                dataType: 'json',
                success: function (data) {
                }
            }).done(function (response) {
                var lista=response['listaDirecciones'];
                for(let i = 0; i < lista.length; i++){
                    let opcion1=document.createElement("option");
                    let opcion2=document.createElement("option");
                    opcion1.setAttribute("value",lista[i][0]);
                    opcion1.textContent=lista[i][1];
                    opcion2.setAttribute("value",lista[i][0]);
                    opcion2.textContent=lista[i][1];
                    select1.appendChild(opcion1);
                    select2.appendChild(opcion2);
                }
            })
                .fail(function () {
                    console.log("failed");
                })
    }
    /*Cada vez que se presione el boton verde de + de cada articulo de producto
      se comprueba si el articulo ya existe en el pedido,
      si ya existe se añade uno a la cantidad,
      en caso contrario se crea, se muestra a la derecha y se habilita el boton de quitar
      */
    function anhadirProducto(event) {
        var contenedor = document.getElementById("listaProductosPedido");
        var yaExiste = false;
        var total=document.getElementById("precioTotalDelPedido");
        for (var i = 0; i < contenedor.children.length; i++) {
            if (contenedor.children[i].children[0].children[0].value == event.target.value) {
                contenedor.children[i].children[1].children[0].value++;
                contenedor.children[i].children[1].children[2].textContent=(parseFloat(contenedor.children[i].children[1].children[2].textContent)+parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
                total.textContent=(parseFloat(total.textContent)+parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
                yaExiste=true;
            }
        }
        if (!yaExiste) {
            var contenedorProducto=document.createElement("div");
            var contenedorInfoProducto=document.createElement("div");
            var contenedorCantidadProducto=document.createElement("div");
            var producto = document.createElement("input");
            var cantidad = document.createElement("input");
            var precioProducto = document.createElement("input");
            var totalProducto = document.createElement("label");
            var nombreProducto = document.createElement("label");
            var tamanhoProducto = document.createElement("label");
            var moneda = document.createElement("label");
            var moneda2 = document.createElement("label");

            contenedorProducto.setAttribute("class","contenedorDatosProducto");
            contenedorInfoProducto.setAttribute("class","contenedorLabelsProducto");
            contenedorCantidadProducto.setAttribute("class","contenedorInputsProducto");

            producto.setAttribute("type", "hidden");
            producto.setAttribute("value", event.target.value);
            producto.setAttribute("name","producto");

            nombreProducto.textContent=event.target.parentElement.parentElement.children[1].children[0].children[0].textContent;
            tamanhoProducto.textContent=event.target.parentElement.parentElement.children[1].children[1].children[0].textContent;
            tamanhoProducto.setAttribute("class","totalPrecioProducto tamanho");
            moneda.textContent="€";
            moneda2.textContent="€";
            totalProducto.textContent=event.target.parentElement.parentElement.children[1].children[1].children[2].textContent;
            totalProducto.setAttribute("class","totalPrecioProducto");
            moneda2.setAttribute("class","totalPrecioProducto");
            moneda.setAttribute("class","totalPrecioProducto");
            precioProducto.setAttribute("class","totalPrecioProducto");

            precioProducto.setAttribute("type", "text");
            precioProducto.setAttribute("readonly","readonly");
            precioProducto.setAttribute("value", event.target.parentElement.parentElement.children[1].children[1].children[2].textContent);
            precioProducto.setAttribute("name","precio");
            precioProducto.setAttribute("class","precioProductoPedido");

            cantidad.setAttribute("type", "text");
            cantidad.setAttribute("readonly","readonly");
            cantidad.setAttribute("value", 1);
            cantidad.setAttribute("name","cantidad");
            cantidad.setAttribute("class","cantidadProductoPedido");

            contenedor.appendChild(contenedorProducto);
            contenedorProducto.appendChild(contenedorInfoProducto);
            contenedorProducto.appendChild(contenedorCantidadProducto);

            contenedorInfoProducto.appendChild(producto);
            contenedorInfoProducto.appendChild(nombreProducto);
            contenedorCantidadProducto.appendChild(cantidad);
            contenedorCantidadProducto.appendChild(moneda2);
            contenedorCantidadProducto.appendChild(totalProducto);
            contenedorInfoProducto.appendChild(moneda);
            contenedorInfoProducto.appendChild(precioProducto);
            contenedorInfoProducto.appendChild(tamanhoProducto);
            event.target.parentElement.children[0].setAttribute("class","quitarProducto");
            total.textContent=(parseFloat(total.textContent)+parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
        }
    }
    /*Cada vez que se presione el boton - del articulo se le restara uno a la cantidad 
      del articulo del pedido hasta que quede uno, cuando solo quede uno y se presione el boton
      se eliminara el articulo del pedido*/
    function quitarProducto(event){
        var contenedor = document.getElementById("listaProductosPedido");
        var total=document.getElementById("precioTotalDelPedido");
        for (var i = 0; i < contenedor.children.length; i++) {
            if (contenedor.children[i].children[0].children[0].value == event.target.value) {
                if(contenedor.children[i].children[1].children[0].value==1){
                    total.textContent=(parseFloat(total.textContent)-parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
                    contenedor.removeChild(contenedor.children[i]);
                    event.target.setAttribute("class","noPuedoQuitar");
                }else{
                    contenedor.children[i].children[1].children[0].value--;
                    contenedor.children[i].children[1].children[2].textContent=(parseFloat(contenedor.children[i].children[1].children[2].textContent)-parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
                    total.textContent=(parseFloat(total.textContent)-parseFloat(contenedor.children[i].children[0].children[3].value)).toFixed(2);
                }
            }
        }
    }
</script>
{% endblock %}