{% extends 'base.html' %}

{% block 'titulo' %}
Crear Producto
{% endblock %}

{% block 'contenido' %}
<div id="contenedorFormularioCrear">
    <form action="{% url 'crearProducto' %}" method="post" id="formularioCrearProducto">
        {% csrf_token %}
        <h2>Crear Producto</h2>
        <div id="contenedorImgProducto">
            {% load static %}
            <img src="{% static 'media/noimage.jpg' %}" id="imagenProducto">
        </div>
        <div class="botonCargarImagenProductoNuevo">
            <button type="button" class="botonCargar" onclick="cargarImagen();">Cargar Imagen</button>
        </div>
        <div class="contenedorDatosProducto">
            <div class="contenedorLabelsProducto">
                <label>URL Imagen</label>
                <br>
                <label>Nombre</label><span class="campoRequerido"> *</span>
            </div>
            <div class="contenedorInputsProducto">
                <input type="text" pattern="[^'\x22]{10,480}"
                    placeholder="https://www.dominio.extension/mas-caracteres-que.indican-la-imagen"
                    name="urlImagenProductoNuevo" id="urlImagenProducto">
                <br>
                <input type="text" pattern="[\p{Letter}\s]{1,99}" placeholder="Tortilla" name="nombreProductoNuevo"
                    id="nombreProductoNuevo" required>
            </div>
        </div>
        <div class="detallesProductoNuevo">
            <div class="contenedorDatosProducto">
                <h3>Estándar</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label><span class="campoRequerido"> *</span>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoNuevoEstandar" id="precioProductoNuevoEstandar" required>
                    <br>
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoNuevoEstandar">
                </div>
            </div>
            <div class="contenedorDatosProducto">
                <h3>Pequeño</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoNuevoPequenho">
                    <br>
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoNuevoPequenho">
                </div>
            </div>
            <div class="contenedorDatosProducto">
                <h3>Grande</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoNuevoGrande">
                    <br>
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoNuevoGrande">
                </div>
            </div>
        </div>
        <div class="centrarBoton">
            <a href="{% url 'listarProductos' %}" class="botonEnlace Rojo">Cancelar</a>
            <input type="submit" onclick="quitarAdvertencia();" value="Crear" class="botonEnlace">
        </div>
    </form>
</div>
<script>
    $("#formularioCrearProducto").submit(function(e) {
        e.preventDefault();
        var producto = document.getElementById('nombreProductoNuevo');
        if (producto.value != "") {
            $.ajax({
                url: "{% url 'comprobarProducto' %}",
                type: 'GET',
                data: { 'producto': producto.value },
                dataType: 'json',
                success: function (data) {

                }
            }).done(function (response) {
                if (!response['producto_existe']) {
                    document.getElementById("formularioCrearProducto").submit();
                }else{
                    producto.setCustomValidity("Ese nombre ya esta en uso");
                    producto.reportValidity();
                }
            })
                .fail(function () {
                    console.log("failed");
                })
        }
    });
    function cargarImagen(){
        var url=document.getElementById("urlImagenProducto").value;
        if(url!=''){
            document.getElementById("imagenProducto").setAttribute("src",url);
        }
    }
    function quitarAdvertencia(){
        var precioProdctoEstandar = document.getElementById("precioProductoNuevoEstandar");
        var producto = document.getElementById('nombreProductoNuevo');
        if(parseFloat(precioProdctoEstandar.value)<=0){
            precioProdctoEstandar.setCustomValidity("El precio no puede ser igual o menor a 0");
        }else{
            precioProdctoEstandar.setCustomValidity("");
        }
        producto.setCustomValidity("");
        producto.reportValidity();
    }
</script>
{% endblock %}