{% extends 'base.html' %}

{% block 'titulo' %}
Crear cliente
{% endblock %}

{% block 'contenido' %}
<div id="contenedorFormularioCrear">
    <form action="{% url 'crearCliente' %}" method="post">
        {% csrf_token %}
        <h2>Datos Cliente</h2>
        <div id="contenedorDatosCliente">
            <div id="contenedorLabelsCliente">
                <label>Nombre</label><span class="campoRequerido"> *</span>
                <br>
                <label>Email</label><span class="campoRequerido"> *</span>
                <br>
                <label>Telefono</label>
            </div>
            <div id="contenedorInputsCliente">
                <input type="text" pattern="[\p{Letter}\s,-]{1,99}" placeholder="Pepe" name="nombreClienteNuevo" required>
                <br>
                <input type="text" pattern="[\p{Letter}0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]{2,}"
                    placeholder="ejemplo@ejemplo.com" name="emailClienteNuevo" required>
                <br>
                <input type="text" pattern="[0-9()+]{1,20}" placeholder="666555666" name="telefonoClienteNuevo">
            </div>
        </div>
        <h3>Direccion</h3>
        <div id="contenedorDireccionCliente">
            <div id="contenedorLabelsDireccion">
                <label>Calle y Numero</label><span class="campoRequerido"> *</span>
                <br>
                <label>Ciudad</label><span class="campoRequerido"> *</span>
                <br>
                <label>Código Postal</label>
                <br>
                <label>Pais</label><span class="campoRequerido"> *</span>
            </div>
            <div id="contenedorInputsDireccion">
                <input type="text" pattern="[\p{Letter}0-9\s.,ºª-]{1,290}" placeholder="Calle Inventada 123, Nº15"
                    name="calleDireccionNueva" required>
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,100}" placeholder="Madrid" name="ciudadDireccionNueva"
                    required>
                <br>
                <input type="text" pattern="[0-9]{0,29}" placeholder="12345" name="codigoDireccionNueva">
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,150}" placeholder="España" name="paisDireccionNueva" required>
            </div>
        </div>
        <div class="centrarBoton">
            <input type="submit" value="Crear" class="botonEnlace">
        </div>
    </form>
</div>
{% endblock %}