{% extends 'base.html' %}

{% block 'titulo' %}
Crear Direccion
{% endblock %}

{% block 'contenido' %}
<div id="contenedorFormularioCrear">
    <form action="{% url 'crearDireccion' %}" method="post">
        {% csrf_token %}
        <h2>Direccion</h2>
        <div id="contenedorDireccionCliente">
            <div id="contenedorLabelsDireccion">
                <label>Calle y Numero</label><span class="campoRequerido"> *</span>
                <br>
                <label>Ciudad</label><span class="campoRequerido"> *</span>
                <br>
                <label>Código Postal</label>
                <br>
                <label>Pais</label><span class="campoRequerido"> *</span>
            </div>
            <div id="contenedorInputsDireccion">
                <input type="text" pattern="[\p{Letter}0-9\s.,ºª-]{1,290}" placeholder="Calle Inventada 123, Nº15"
                    name="calleDireccionNueva" required>
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,100}" placeholder="Madrid" name="ciudadDireccionNueva"
                    required>
                <br>
                <input type="text" pattern="[0-9]{0,29}" placeholder="12345" name="codigoDireccionNueva">
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,150}" placeholder="España" name="paisDireccionNueva" required>
            </div>
        </div>
        <input type="hidden" value="{{idCliente}}" name="cliente">
        <div class="centrarBoton">
            <input type="submit" value="Crear" class="botonEnlace">
        </div>
    </form>
</div>
{% endblock %}