{% extends 'base.html' %}

{% block 'titulo' %}
Detalles de Producto
{% endblock %}

{% block 'contenido' %}
<div class="productoDetalles">
    <div class="imagenProductoDetalles">
        {% if producto.imageURL != '' %}
        <img src="{{producto.imageURL}}" class="imagenProductoDetalles">
        {% else %}
        {% load static %}
        <img src="{% static 'media/noimage.jpg' %}" class="imagenProductoDetalles">
        {% endif %}
    </div>
    <div class="informacionProductoDetalles">
        <p>Nombre: {{producto.name}}</p>
        <div id="tablaDirecciones">
            <table>
                <thead>
                    <tr>
                        <th>Tamaño</th>
                        <th>Peso(gr)</th>
                        <th>Precio(€)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in detalles %}
                    {% if d.price != 0 %}
                        <tr>
                            {% if d.size == 'BG' %}
                            <td>Grande</td>
                            {% elif d.size == 'AV' %}
                            <td>Estandar</td>
                            {% elif d.size == 'SM' %}
                            <td>Pequeño</td>
                            {% endif %}
                            {% if d.weight is not Null %}
                            <td class="cifras">{{d.weight}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td class="cifras">{{d.price}}</td>
                            {% if d.unable %}
                            <td><button value="{{d.id}}" id="modificarEstadoProducto" onclick="modificarEstadoDelProducto(event);"
                                    class="botonCambiarEstado botonHabilitar">Habilitar</button></td>
                            {% else %}
                            <td><button value="{{d.id}}" id="modificarEstadoProducto" onclick="modificarEstadoDelProducto(event);"
                                    class="botonCambiarEstado botonDeshabilitar">Deshabilitar</button></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'modificarProductoVista' producto.id %}" class="botonEnlace Azul">Modificar Producto</a>
    </div>
</div>
<script>
        function modificarEstadoDelProducto(event) {
        var boton = event.target;
        var id = boton.value;
        $.ajaxSetup({ data: { csrfmiddlewaretoken: '{{ csrf_token }}' } });
        $.ajax({
            url: "{% url 'cambiarEstadoProducto' %}",
            type: 'POST',
            data: { 'idProducto': id },
            dataType: 'json'
        }).done(function (response) {
            if (response['estado_cambiado']) {
                boton.textContent = "Habilitar";
                boton.setAttribute("class", "botonCambiarEstado botonHabilitar");
            } else {
                boton.textContent = "Deshabilitar";
                boton.setAttribute("class", "botonCambiarEstado botonDeshabilitar");
            }
        }).fail(function () {
            console.log("failed");
        })
    }
</script>
{% endblock %}