{% extends 'base.html' %}

{% block 'titulo' %}
Detalles de Cliente
{% endblock %}

{% block 'contenido' %}
<div id="detallesCliente">
    <h2>Detalles de {{cliente.name}}</h2>
    <div id="datosDetallesCliente">
        <p>Nombre: {{cliente.name}}</p>
        <p>Email: {{cliente.email}}</p>
        {% if cliente.tel != '' %}
        <p>Telefono: {{cliente.tel}}</p>
        {% endif %}
    </div>
    <div id="contenedorTablaDirecciones">
        {% if direcciones %}
        <h3>Direcciones</h3>
        <div id="tablaDirecciones">
            <table>
                <thead>
                    <tr>
                        <th>Calle</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Codigo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in direcciones %}
                    <tr id="{{d.id}}">
                        <td>{{d.street}}</td>
                        <td>{{d.city}}</td>
                        <td>{{d.country}}</td>
                        <td>{{d.code}}</td>
                        <td><a href="{% url 'modificarDireccionVista' d.id %}" class="botonEnlace Azul">Modificar</a>
                        </td>
                        <td><a name="{{d.id}}" class="botonEnlace Rojo" onclick="comprobarDireccion(event);">Eliminar</a></td>
                        {% if d.unable %}
                        <td><button value="{{d.id}}" id="modificarEstadoDireccion" onclick="modificarEstadoDeLaDireccion(event);"
                                class="botonCambiarEstado botonHabilitar">Habilitar</button></td>
                        {% else %}
                        <td><button value="{{d.id}}" id="modificarEstadoDireccion" onclick="modificarEstadoDeLaDireccion(event);"
                                class="botonCambiarEstado botonDeshabilitar">Deshabilitar</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div id="botonTablaDirecciones">
            <a href="{% url 'crearDireccionVista' cliente.id %}" class="botonEnlace Azul">Añadir Direccion</a>
        </div>
    </div>
</div>
<div id="botonModificarCliente">
    <a href="{% url 'modificarClienteVista' cliente.id %}" class="botonEnlace Azul">Modificar Cliente</a>
</div>
<script>
    function comprobarDireccion(e) {
        $.ajax({
            url: "{% url 'comprobarDireccion' %}",
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { 'idDireccion': e.target.name },
            dataType: 'json',
            success: function (data) {

            }
        }).done(function (response) {
            if (response['tiene_pedido']) {
                alert("Direccion usada en pedido");
            } else {
                document.getElementById(e.target.name).remove();
            }
        })
            .fail(function () {
                console.log("failed");
            })
    }
    function modificarEstadoDeLaDireccion(event) {
        var boton = event.target;
        var id = boton.value;
        $.ajaxSetup({ data: { csrfmiddlewaretoken: '{{ csrf_token }}' } });
        $.ajax({
            url: "{% url 'cambiarEstadoDeLaDireccion' %}",
            type: 'POST',
            data: { 'idDireccion': id },
            dataType: 'json'
        }).done(function (response) {
            if (response['estado_cambiado']) {
                boton.textContent = "Habilitar";
                boton.setAttribute("class", "botonCambiarEstado botonHabilitar");
            } else {
                boton.textContent = "Deshabilitar";
                boton.setAttribute("class", "botonCambiarEstado botonDeshabilitar");
            }
        }).fail(function () {
            console.log("failed");
        })
    }
</script>
{% endblock %}