{% extends 'base.html' %}

{% block 'titulo' %}
Listado de Productos
{% endblock %}

{% block 'contenido' %}
<div id="contenedorPrincipalProductosLista">
    {% for p in productos %}
    <a href="{% url 'detallesProducto' p.id %}">
        <div class="productoLista" id="{{p.id}}">
            <div class="imagenProductoLista">
                {% if p.imageURL != '' %}
                <img src="{{p.imageURL}}" class="imagenProducto">
                {% else %}
                {% load static %}
                <img src="{% static 'media/noimage.jpg' %}" class="imagenProducto">
                {% endif %}
            </div>
            <div class="informacionProductoLista">
                <a href="{% url 'detallesProducto' p.id %}">
                    <div class="contenedorNombreProductoLista">
                        <label class="nombreProductoLista">{{p.name}}</label>
                    </div>
                </a>
                <div class="contenedorBotonesProductoLista">
                    <a href="{% url 'modificarProductoVista' p.id %}" class="botonProductoLista Azul">Modificar</a>
                    <a name="{{p.id}}" class="botonProductoLista Rojo" onclick="comprobarProducto(event);">Eliminar</a>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<br>
<div class="contenedorBotonEnlace">
    <a href="{% url 'crearProductoVista' %}" class="botonEnlace Azul">Crear Producto</a>
</div>
<script>
    function comprobarProducto(e) {
        if(confirm("Quieres eliminar el producto?")){
        $.ajax({
            url: "{% url 'borrarProducto' %}",
            type: 'POST',
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            data: { 'idProducto': e.target.name },
            dataType: 'json',
            success: function (data) {

            }
        }).done(function (response) {
            if (response['tiene_pedido']) {
                alert("Producto esta en pedidos");
            }else{
                document.getElementById(e.target.name).remove();
            }
        })
            .fail(function () {
                console.log("failed");
            })
        }
    }
</script>
{% endblock %}