{% extends 'base.html' %}

{% block 'titulo' %}
Listado de Clientes
{% endblock %}

{% block 'contenido' %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
            <tr>
                <td><a href="{% url 'detallesCliente' c.id %}">{{c.name}}</a></td>
                <td>{{c.email}}</td>
                <td>{{c.tel}}</td>
                <td><a href="{% url 'borrarCliente' c.id %}" class="botonEnlace Rojo">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crearClienteVista' %}" class="botonEnlace">Crear Cliente</a>
{% endblock %}