{% extends 'base.html' %}

{% block 'titulo' %}
Listado de Pedidos
{% endblock %}

{% block 'contenido' %}
<div id="listaPedidos">
    <h2>Listado de Pedidos</h2>
    {% if pedidos %}
    <table class="centrarTabla" id="tablaPedidos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha del Pedido</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pedidos %}
            <tr id="{{p.id}}">
                <td><a href="{% url 'detallesPedido' p.id %}">{{p.client.name}}</a></td>
                <td>{{p.order_date}}</td>
                <td><a name="{{p.id}}" class="botonEnlace Rojo" onclick="eliminarPedido(event);">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="contenedorBotonEnlace">
        <a href="{% url 'crearPedidoVista' %}" class="botonEnlace Azul">Crear Pedido</a>
    </div>
</div>
<script>
    /*Llama a la funcion que elimina el pedido*/
    function eliminarPedido(e) {
        if(confirm("Seguro que quieres eliminar el pedido?")){
        $.ajax({
            url: "{% url 'eliminarPedido' %}",
            type: 'POST',
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            data: { 'idPedido': e.target.name },
            dataType: 'json',
            success: function (data) {

            }
        }).done(function (response) {
            if(response['pedido_eliminado']){
                document.getElementById(e.target.name).remove();
            }
        })
            .fail(function () {
                console.log("failed");
            })
        }
    }
</script>
{% endblock %}