{% extends 'base.html' %}

{% block 'titulo' %}
Listado de Pedidos
{% endblock %}

{% block 'contenido' %}
{% for p in pedidos %}
<div class="detallesPedido">
    <p>{{p.client.name}}</p>
    <p>{{p.order_date}}</p>
    <a href="{% url 'modificarPedidoVista' p.id %}">Modificar</a>
    <a href="{% url 'eliminarPedido' p.id %}">Eliminar</a>
    {% if p.unable %}
    <td><button value="{{p.id}}" id="modificarEstadoPedido" onclick="modificarEstadoDelPedido(event);"
            class="botonCambiarEstado botonHabilitar">Habilitar</button></td>
    {% else %}
    <td><button value="{{p.id}}" id="modificarEstadoPedido" onclick="modificarEstadoDelPedido(event);"
            class="botonCambiarEstado botonDeshabilitar">Deshabilitar</button></td>
    {% endif %}
</div>
{% endfor %}
<div class="contenedorBotonEnlace">
    <a href="{% url 'crearPedidoVista' %}" class="botonEnlace Azul">Crear Pedido</a>
</div>
{% endblock %}