{% extends 'base.html' %}

{% block 'titulo' %}
Modificar Direccion
{% endblock %}

{% block 'contenido' %}
<div id="contenedorFormularioModificar">
    <form action="{% url 'modificarDireccion' %}" method="post">
        {% csrf_token %}
        <h2>Direccion</h2>
        <div id="contenedorDireccionCliente">
            <div id="contenedorLabelsDireccion">
                <label>Calle y Numero</label><span class="campoRequerido"> *</span>
                <br>
                <label>Ciudad</label><span class="campoRequerido"> *</span>
                <br>
                <label>Código Postal</label>
                <br>
                <label>Pais</label><span class="campoRequerido"> *</span>
            </div>
            <div id="contenedorInputsDireccion">
                <input type="text" pattern="[\p{Letter}0-9\s.,ºª-]{1,290}" placeholder="Calle Inventada 123, Nº15"
                    name="calleDireccionModificar" value="{{direccion.street}}" required>
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,100}" placeholder="Madrid" name="ciudadDireccionModificar"
                    value="{{direccion.city}}" required>
                <br>
                <input type="text" pattern="[0-9]{0,29}" placeholder="12345" name="codigoDireccionModificar" value="{{direccion.code}}">
                <br>
                <input type="text" pattern="[\p{Letter}\s.,-]{1,150}" placeholder="España" name="paisDireccionModificar" value="{{direccion.country}}" required>
            </div>
            <input type="hidden" value="{{direccion.id}}" name="direccion">
        </div>
        <div class="centrarBoton">
            <a href="{% url 'detallesCliente' cliente.id %}" class="botonEnlace Rojo">Cancelar</a>
            <input type="submit" value="Modificar" class="botonEnlace Azul">
        </div>
    </form>
</div>
{% endblock %}