{% extends 'base.html' %}

{% block 'titulo' %}
Modificar producto
{% endblock %}

{% block 'contenido' %}
<div id="contenedorFormularioCrear">
    <form action="{% url 'modificarProducto' %}" method="post" id="formularioModificarProducto">
        {% csrf_token %}
        <h2>Modificar Producto</h2>
        <div id="contenedorImgProducto">
            {% if producto.imageURL != '' %}
            <img src="{{producto.imageURL}}" id="imagenProducto">
            {% else %}
            {% load static %}
            <img src="{% static 'media/noimage.jpg' %}" id="imagenProducto">
            {% endif %}
        </div>
        <div class="botonCargarImagenProductoNuevo">
            <button type="button" class="botonCargar" onclick="cargarImagen();">Cargar Imagen</button>
        </div>
        <div class="contenedorDatosProducto">
            <div class="contenedorLabelsProducto">
                <label>URL Imagen</label>
                <br>
                <label>Nombre</label><span class="campoRequerido"> *</span>
            </div>
            <div class="contenedorInputsProducto">
                <input type="text" pattern="[^'\x22]{10,480}"
                    placeholder="https://www.dominio.extension/mas-caracteres-que.indican-la-imagen" value="{{producto.imageURL}}"
                    name="urlImagenProductoModificar" id="urlImagenProducto">
                <br>
                <input type="text" pattern="[\p{Letter}\s]{1,99}" placeholder="Tortilla" name="nombreProductoModificar"
                    id="nombreProductoModificar" value="{{producto.name}}" onkeypress="quitarAdvertencia()" required>
                <input type="hidden" name="productoID" id="productoID" value="{{producto.id}}">
            </div>
        </div>
        <div class="detallesProductoNuevo">
            <div class="contenedorDatosProducto">
                <h3>Estándar</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label><span class="campoRequerido"> *</span>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoModificarEstandar" value="{{estandar.price}}" id="precioProductoModificarEstandar" required>
                    <br>
                    {% if estandar.weight is Null%}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarEstandar">
                    {% else %}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarEstandar" value="{{estandar.weight}}">
                    {% endif %}
                </div>
            </div>
            <div class="contenedorDatosProducto">
                <h3>Pequeño</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    {% if pequenho.price != 0 %}
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoModificarPequenho" value="{{pequenho.price}}">
                    <br>
                    {% if pequenho.weight is Null%}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarPequenho">
                    {% else %}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarPequenho" value="{{pequenho.weight}}">
                    {% endif %}
                    {% else %}
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoModificarPequenho">
                    <br>
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarPequenho">
                    {% endif %}
                </div>
            </div>
            <div class="contenedorDatosProducto">
                <h3>Grande</h3>
                <div class="contenedorLabelsProducto">
                    <label>Precio</label>
                    <br>
                    <label>Peso</label>
                </div>
                <div class="contenedorInputsProducto">
                    {% if grande.price != 0 %}
                    <input type="text" pattern="[0-9\.]+" placeholder="10" name="precioProductoModificarGrande" value="{{grande.price}}">
                    <br>
                    {% if pequenho.weight is Null%}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarGrande">
                    {% else %}
                        <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarGrande" value="{{grande.weight}}">
                    {% endif %}
                    {% else %}
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="precioProductoModificarGrande">
                    <br>
                    <input type="text" pattern="[0-9\.]+" placeholder="1000" name="pesoProductoModificarGrande">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="centrarBoton">
            <a href="{% url 'detallesProducto' producto.id %}" class="botonEnlace Rojo">Cancelar</a>
            <input type="submit" onclick="quitarAdvertencia();" value="Modificar" class="botonEnlace">
        </div>
    </form>
</div>
<script>
    /*Llama a la funcion encargada de comprobar si el nombre del producto ya esta en uso
      por algun otro producto que no sea el actual,
      si ya esa en uso se muestra un error,
      en caso contrario se modifica el producto y sus articulos*/
    $("#formularioModificarProducto").submit(function(e) {
        e.preventDefault();
        var producto = document.getElementById('nombreProductoModificar');
        var idProducto = document.getElementById('productoID');
        if (producto.value != "") {
            $.ajax({
                url: "{% url 'comprobarProductoModificar' %}",
                type: 'GET',
                data: { 'idProducto':idProducto.value,'producto': producto.value },
                dataType: 'json',
                success: function (data) {

                }
            }).done(function (response) {
                if (!response['producto_existe']) {
                    document.getElementById("formularioModificarProducto").submit();
                }else{
                    producto.setCustomValidity("Ese nombre ya esta en uso");
                    producto.reportValidity();
                }
            })
                .fail(function () {
                    console.log("failed");
                })
        }
    });
    /*Funcion encargada de cargar la imagen que se especifica en la URL*/
    function cargarImagen(){
        var url=document.getElementById("urlImagenProducto").value;
        if(url!=''){
            document.getElementById("imagenProducto").setAttribute("src",url);
        }
    }
    /*Elimina la advertencia que indica si el nombre ya esta en uso y 
      comprueba si el precio del articulo estandar es mayor de 0*/
    function quitarAdvertencia(){
        var producto = document.getElementById('nombreProductoModificar');
        var productoEstandarPrecio = document.getElementById('precioProductoModificarEstandar');
        if(parseFloat(productoEstandarPrecio.value)<=0){
            productoEstandarPrecio.setCustomValidity("El precio no puede ser igual o menor a 0");
            precioProdctoEstandar.reportValidity();
        }else{
            productoEstandarPrecio.setCustomValidity("");
        }
        producto.setCustomValidity("");
        producto.reportValidity();
    }
</script>
{% endblock %}